<h1>出資金額を入力する</h1>


<p>
  <strong>プロダクト名:</strong>
  <%= @investment.product.title %>
</p>

<p>
  <strong>プロダクトの説明:</strong>
  <%= @investment.product.desc %>
</p>

<p>
  <strong>企画者:</strong>
  <%= @investment.product.user.name %>
</p>

<p>
  <strong>金額:</strong>
  <%= @investment.product.price %>
</p>


<%= form_with(model: @investment, url: product_investments_path ) do |form| %>
  <div class="field">
    <%= form.label :金額を選択してください %>
    <%= form.select :price, [ 1000, 5000, 10000, 20000, 30000, 40000, 50000, 100000 ] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
