<h2>気になるカテゴリー</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>プロダクト名</th>
      <th>プロダクトの説明</th>
      <th>目標金額</th>
      <th>達成状況</th>
      <th>企画者</th>
      <th>いいね</th>
      <th>カテゴリー</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= truncate(product.desc, length: 10) %></td>
        <td><%= number_with_delimiter(product.price) %></td>
        <td><%= number_with_delimiter(product.investments.sum(:price)) %></td>
        <td><%= link_to product.user.name, user_path(product.user.id) %>さん</td>
        <td><strong><%= product.likes.size %></strong></td>
        <% product.categories.each do |pc| %>
          <td><%= pc.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>
