<h1>ユーザー情報</h1>
<p>名前：<%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>プロフィール：<%= @user.profile %></p>
<% if current_user.id == @user.id %>
  <p>気になるカテゴリー: <%= link_to @user.categories.map(&:name).join('.'), admin_watchings_path %></p>
<% end %>
<br>

<%= render 'shared/footer' %>