<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <h5>あなたのプロフィール</h5>
  <% else %>
    <h5>プロフィール</h5>
  <% end %>
  <dl>
    <dt>名前</dt>
    <dd><%= @user.name %></dd>
    <dt>プロフィール</dt>
    <dd><%= @user.profile %></dd>
    <% if current_user.id == @user.id %>
      <dt>気になるカテゴリー</dt>
      <dd><%= link_to @user.categories.map(&:name).join('.'), admin_watchings_path %></dd>
    <% end %>
  </dl>

  <% if current_user.id == @user.id %>
    <p><%= link_to "ユーザー情報を編集する", edit_user_path %></p>
  <% end %>
<% else %>
  <h5>プロフィール</h5>
  <dl>
    <dt>名前</dt>
    <dd><%= @user.name %></dd>
    <dt>プロフィール</dt>
    <dd><%= @user.profile %></dd>
  </dl>
<% end %>