<%= form_with(model: [:admin, product], local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= form.label :タイトル %><br>
      <%= form.text_field :title, placeholder: "タイトル" %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :プロダクトの説明 %><br>
      <%= form.text_area :desc, placeholder: "説明文", size: "40x10" %>
    </p>
  </div>
  
  <div class="field">
    <p>
      <%= form.label :目標金額 %>
      <%= form.number_field :price %>
    </p>
  </div>


  <div class="check_box">
    <p>
      <%= form.label :category_ids, "カテゴリーの選択" %><br>
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |c| %>
        <%= c.label + c.check_box %>
      <% end %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= image_tag @product.thumbnail.url if @product.thumbnail? %>
      <%= form.label :プロダクトの画像 %>
      <%= form.file_field :thumbnail %>
      <%= form.hidden_field :thumbnail_cache %>
    </p>
  </div>


  <div class="actions">
    <p><%= form.submit %></p>
  </div>
<% end %>
<br>