<%= form_with(model: [:admin, product], local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :プロダクトの説明 %>
    <%= form.text_field :desc %>
  </div>

  <div class="field">
    <%= form.label :目標金額 %>
    <%= form.number_field :price %>
  </div>


  <div class="check_box">
    <%= form.label :category_ids, 'カテゴリーを選択してください' %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |c| %>
      <%= c.label + c.check_box %>
    <% end %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
