<p id="notice"><%= notice %></p>

<h1>マイプロダクト</h1>

<table>
  <thead>
    <tr>
      <th>プロダクト名</th>
      <th>プロダクトの説明</th>
      <th>金額</th>     
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.desc %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', [:admin, product] %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
        <td><%= link_to 'Destroy', [:admin, product] , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><strong>いいね数: <%= product.likes.count %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_admin_product_path %>
