<p id="notice"><%= notice %></p>

<p>
  <strong>プロダクト名:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>プロダクトの説明:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>目標金額:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>達成状況:</strong>
  <%= @product.investments.sum(:price) %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <% @product.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</p>

<p><strong>いいね数: <%= @product.likes.count %></strong></p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
