<div class="row">
  <div class="col-6">
  <h5><%= @product.title %></h5>

  <% if @product.thumbnail? %>
      <div class="thumbnail">
        <%= image_tag @product.thumbnail.url, class:"thumbnail-image" %>
      </div>
  <% end %>

  <br>
  <p><%= @product.desc %></p>

</div>

<div class="col-3">
<p>
  <strong>達成状況:</strong>
    <% unless @product.investments.sum(:price) == 0 %>
      <%= "¥" %>
    <% end %>
  <%= number_with_delimiter(@product.investments.sum(:price)) %>
</p>

<p>
  <strong>目標金額:</strong>
  ¥<%= number_with_delimiter(@product.price) %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <% @product.categories.each do |category| %>
    <%= category.name %>
  <% end %>
</p>

<p><%= @product.likes.size %>人が「いいね！」をしました</p>
</div>