<p id="notice"><%= notice %></p>

<h1>出資一覧</h1>

<table>
  <thead>
    <tr>
      <th>プロダクト名</th>
      <th>企画者</th>
      <th>出資金額</th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
      <td><%= link_to investment.product.title, product_path(investment.product.id) %></td>
      <td><%= link_to investment.product.user.name, user_path(investment.product.user.id) %>さん</td>
      <td><%= investment.price %></td>
      </tr>
    <% end %>
  </tbody>
<%= paginate @investments %>
</table>