<p id="notice"><%= notice %></p>

<h1>プロダクト</h1>

<table>
  <thead>
    <tr>
      <th>プロダクト名</th>
      <th>プロダクトの説明</th>
      <th>金額</th>
      <th>企画者</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.desc %></td>
        <td><%= product.price %></td>
        <td><%= link_to product.user.name, user_path(product.user.id) %>さん</td>
        <td><%= link_to 'Show', product_path(product) %></td>
        <td>
          <strong>いいね数: <%= product.likes.count %></strong>
          <% if user_signed_in? %>
            <%= render partial: 'likes/like_index', locals: {product: product} %>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>