<div class="card-columns">
<% @products.each do |product| %>
  <div class="card">
    <% if product.thumbnail? %>
      <div class="thumbnail">
        <%= link_to product_path(product) do %>
          <%= image_tag product.thumbnail.url, class: "thumbnail-image" %>
        <% end %>
      </div>
    <% end %>
    <h5 class="card-title"><%= link_to product.title, product_path(product) %></h5>
    <p class="card-name"><%= link_to product.user.name, user_path(product.user.id) %></p>
    <p class="card-investment-price">達成状況:
      <% unless product.investments.sum(:price) == 0 %>
        <%= "¥" %>
      <% end %>
      <%= number_with_delimiter(product.investments.sum(:price)) %></p>
    <p class="card-product-price">目標金額:¥<%= number_with_delimiter(product.price) %></p>
    <strong>いいね！<%= product.likes.size %>人</strong>
    <% if user_signed_in? %>
      <%= render partial: 'likes/like', locals: {product: product} %>
    <% end %>
    
  </div>  
<% end %>
</div>

<%= paginate @products %>
<br>