<p id="notice"><%= notice %></p>

<p>
  <strong>プロダクト名:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>プロダクトの説明:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>企画者:</strong>
  <%= @product.user.name %>
</p>

<p>
  <strong>金額:</strong>
  <%= @product.price %>
</p>

<strong>いいね数: <%= @product.likes.count %></strong>
<% if user_signed_in? %>
  <%= render partial: 'likes/like_show' %>
<% end %>

<p>
  <%= link_to '出資する', new_product_investment_path(@product.id) %>
</p>




<%= link_to 'Back', products_path %>
