<h3>作成したカテゴリー一覧</h3>

<table class="table">
  <thead  class="thead-light">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to '編集', edit_administer_category_path(category) %></td>
        <td><%= link_to '削除', [:administer, category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>
<br>

<%= link_to '新しいカテゴリーの作成', new_administer_category_path %>
